Home
Profile
Messages

<br>

This box has a non-functioning X button to close it.

A B
A1 B1
A2 B2

<br>

Green button

<a href="http://www.google.com">
  Link to google.com
</a>

<br>
<br>

This column is on the left half of the page.
This column is on the right half of the page.

<br>

Rewind symbol
<br>

Fast-forward symbol
