<h1>Chemical elements</h1>

<table border="1" class="table">

  <tr>
    <th>Number</th>
    <th>Symbol</th>
    <th>Name</th>
  </tr>

  <% Element.order(:number).each do |element| %>
    <tr>
      <td><%= element.number %></td>
      <td><%= element.symbol %></td>
      <td><%= element.name %></td>
    </tr>
  <% end %>

</table>
