<h1>Blood pressure readings</h1>

<table border="1" class="table">

  <tr>
    <th>id</th>
    <th>name</th>
    <th>systolic</th>
    <th>diastolic</th>
  </tr>

  <% Reading.order(:id).each do |reading| %>
    <tr>
      <td><%= reading.id %></td>
      <td><%= reading.name %></td>
      <td><%= reading.systolic %></td>
      <td><%= reading.diastolic %></td>
    </tr>
  <% end %>

</table>