<h1>Example contact form</h1>

<p><b>From</b><p>
<textarea rows="2" cols="20">
</textarea>

<p><b>Subject </b><p>
<textarea rows="2" cols="20">
</textarea>

<p><b>Body</b><p>
<textarea rows="5" cols ="20">
</textarea>


