<h1>Example login screen</h1>

<table border = "1">
  <tr>
    <th> Email Address </th>
    <th> <textarea rows = "1" cols = "20"> 
    </textarea>
  </tr>
  <tr>
    <th> Password </th>
    <th> <textarea rows = "1" cols = "20"> 
    </textarea>
  </tr>
  <tr>
    <th>  </th>
    <th> <button> Login </button>
    </textarea>
  </tr>

</table>

  
