<h1>Examples of species</h1>

<h2>1. plants</h2>

<h3>1.a. ferns</h3>
Cyathea dealbata

<h3>1.b. flowering plants</h3>
Cocos nucifera
Olea europaea

<h2>2. animals</h2>

<h3>2.a. vertebrates</h3>
<p>Canis lupus</p>
<p>Chinchilla lanigera</p>
<p>Carcharodon carcharias</p>

<h3>2.b. invertebrates</h3>
<p>Polygonoporus giganticus</p>
