<h1>Excerpt from Wikipedia</h1>

<p> <b>Fossils</b> (from Classical Latin <i>fossilis</i>, literally "obtained by digging") are the preserved remains or <a>traces</a> of animals (also known as zoolites), plants, and other organisms from the remote past. The totality of fossils, both discovered and undiscovered, and their placement in fossiliferous (fossil-containing) <a>rock</a> formations and <a>sedimentary layers (<a>strata</a>) is known as the fossil record. </p>

<h2> Links </h2>
<a> http://en.wikipedia.org/wiki/Trace_fossil </a>
<a> http://en.wikipedia.org/wiki/Rock_(geology) </a>
<a>http://en.wikipedia.org/wiki/Sedimentary_rock </a>
<a>http://en.wikipedia.org/wiki/Stratum </a>


