<h1>Example of nested lists</h1>

<p>fruits</p>
  <ul>
    <li>apples</li>
    <li>oranges</li>
    <li>pears</li>
</ul>

<p>vegtables</p>
  <ul>
  <li>broccoli</li> 
  <li>peas</li> 
  <li>carrots</li>
</ul>
