<h1>
Example login screen
</h1>
<table border = 1 >
 <tr>
    <th>
      <Label>Email address</Label>
  <td>
    <input></td >
  <tr> <th> <LABEL>Password<LABEL/> </th>
    <td>
    <INPUT>
    </ td>
</tr>
   <Tr>
    <th
    </th>
    <td>
      <button> Login</button/>
    </td>
</Tr> </table>
