<p>
  White text on a black background
</p>
<p>
  Text with a thick border and some padding around it
</p>
<p>
  Small text in a narrow box that's indented
</p>
<p>
  Text with a thin border and lots of room around it
</p>
<p>
  Text in a box that's centered
</p>
<p>
  Text with a blue glow around it and its box
</p>
