<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Serve - Delicious ERB, Haml + Sass</title>
    <link rel="stylesheet" href="/stylesheets/screen.css">
    
    <link rel="stylesheet" href="/stylesheets/video.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="/javascripts/jquery.colorbox-min.js" type="text/javascript" charset="utf-8"></script>
<script>
		$(document).ready(function(){
			$(".video").colorbox({iframe:true, innerWidth:960, innerHeight:560});
		});
</script>

    <link rel="canonical" href="http://get-serve.com/">
    <link rel="shortcut icon" type="image/x-icon" href="http://get-serve.com/favicon.ico">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-301205-7']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </head>
  <body role="homepage">
    <header role="banner">
    </header>
    <nav role="navigation">
      <ul>
        <li><img src="/images/logo.png"/></li>  
        <li><a href="/get-started">Get&nbsp;Started</a></li>
        <li><a href="/documentation">Documentation</a></li>
        <li><a href="/mailing-list">Mailing List</a></li>
        <li class="highlight"><a href="http://github.com/jlong/serve">On&nbsp;GitHub&nbsp;&rarr;</a></li>
      </ul>
    </nav>
    <section role="main"> 
      
      <article>
          <div class="featured-video">
            <a class="video cboxElement"                 href="http://www.youtube.com/embed/GOUNTa8ME2o?rel=0&hd=1&autoplay=1" title="Serve Intro Video">
    <img src="/images/video_thumb.jpg" /></a>
  </div>

        <header><h1>Build fantastic websites with your favorite template languages.</h1></header>
        
<ul class="features">
  <li>ERB, Haml, Markdown, Textile, and more!</li>
  <li>Views, partials &amp; layouts</li>
  <li>Perfect for Websites or HTML mockups</li>
</ul>


<div class="get-started"><a class="button large arrow" href="/get-started">Get Started</a></div>

<section class="three-column-grid features">
  <section>
    <h4>Views, Partials &amp; Layouts</h4>
    <p>Serve provides the equivalent of the Views part of the Rails MVC.
      Partials and layouts make it possible to extract common parts of your
      website into reusable chunks and templates. Use helper methods to
      simplify complex logic.</p>
  </section>
  
  <section>
    <h4>Sass &amp; Compass, built in!</h4>
    <p>Manage the chaos of your stylesheets with Sass and Compass! Sass adds
      features like mixins and variables to CSS. Compass provides a
      &#8220;standard library&#8221; of sorts or all manner of CSS wizardry.</p>
  </section>
  
  <section>
    <h4>Static or dynamic&#8201;&#8211;&#8201;Your choice</h4>
    <p>Edit and tweak your websites on-the-fly with the Serve server. And when
      you are ready to deploy, you have two options. Either export to a pure
      HTML static site or deploy the source on any Ruby-friendly web host.</p>
  </section>
  
  <section>
    <h4>Great for Rails prototypes</h4>
    <p>If you use a &#8220;Design First&#8221; workflow for your web apps you
      can use Serve to build working HTML prototypes (or mockups) of the finished
      application to test flow and design decisions, before turning it over to
      the developers.</p>
  </section>
  
  <section>
    <h4>Serve&#8201;+&#8201;Git&#8201;=&#8201;The Perfect CMS</h4>
    <p>Since Serve uses plain text files, you can store a project in Git or any
      other version control system. Combine it with Textile or Markdown and
      you&#8217;ll achieve the perfect Content Management System for
      developers.</p>
  </section>
  
  <section>
    <h4>Made with Rack &amp; Tilt</h4>
    <p>Serve uses Rack and Tilt under the covers. Rack makes it possible to
      combine Serve with Rails or Sinatra. Tilt allows you to use Serve with
      almost any Ruby-based Template library. ERB, Haml, Slim, Liquid,
      Markdown, or Textile.</p>
  </section>
</section>

<section class="twitter box">
  <p>Want to get the latest news about Serve? Follow <a href="http://twitter.com/serveapp">@ServeApp</a> on Twitter.</p>
</div>

      </article>
    </section>
    <footer>
      <small>
        <p>
          &copy; 2011&#8211;2013 <a href="http://johnwlong.com">John W. Long</a>.
          Serve is open-source software. It is <em>completely free</em> for commercial and non-commercial use.
          <a href="/contributing">Wanna help?</a>
        </p>
      </small>
    </footer>
    <script type="text/javascript">
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4e096b74613f5d27e9000001');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
  </body>
</html>
